.image-container[b-zx880jfvp6] {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.item-card[b-zx880jfvp6] {
    width: 260px;
    background: #ffffff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: .2s;
}

.item-card:hover[b-zx880jfvp6] {
    transform: scale(1.03);
}

.item-card img[b-zx880jfvp6] {
    width: 100%;
    height: 160px;
    border-radius: 12px;
    object-fit: cover;
}

.item-info[b-zx880jfvp6] {
    margin-top: 12px;
}

.item-info h3[b-zx880jfvp6] {
    margin: 0 0 10px 0;
}

.qty-control[b-zx880jfvp6] {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.qty-control button[b-zx880jfvp6] {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 8px;
    background: #eee;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s;
}

.qty-control button:hover[b-zx880jfvp6] {
    background: #ddd;
}

.add-btn[b-zx880jfvp6] {
    width: 100%;
    padding: 10px;
    border: none;
    background: #0078ff;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
    font-size: 16px;
}

.add-btn:hover[b-zx880jfvp6] {
    background: #0065d4;
}