.cart-title {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
}

.empty-text {
    font-size: 20px;
    opacity: 0.7;
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 50vw;
    border: 1px solid black;
    margin: 0 auto;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #ffffff;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.cart-img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
}

.cart-info h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.cart-info p {
    margin: 4px 0 0 0;
}

.checkout-btn {
    margin-top: 20px;
    background: #ffcc00;
    border: none;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.checkout-btn:hover {
    background: #e6b800;
}
.add-btn {
    background-color: #3c3c3c;
    border: none;
    color: white;
    padding: 5px 15px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.ticket-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px); /* blur background */
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.ticket-box {
    background: #fff7e5;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
    border: 2px dashed #c97b45;
}

.ticket-box h1 {
    font-size: 60px;
    margin: 10px 0;
    color: #c97b45;
}

.close-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #c97b45;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.close-btn:hover {
    background: #a05b30;
}

