.background-image {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.order-btn {
    position: absolute;
    bottom: 190px;
    left: 27%;
    transform: translateX(-50%);
    
    padding: 12px 25px;
    font-size: 20px;
    border: none;
    background-color: #ff3b3b;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    z-index: 10;
}

.order-btn:hover {
    background-color: #e62e2e;
}
